{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Какой-то текст</title>
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}">
</head>
<body>
    <section class="hero">
    <div class="hero-content">
        <h1>Добро пожаловать в наш сервис!</h1>
        <p class = 'text'>Мы предоставляем фриланс-услуги, чтобы помочь вам в любом проекте.</p>
        <a href="#contact-form" class="cta-button">Оставить заявку</a>
    </div>
    </section>

    <footer>
        <div class="footer-content">
            <p>&copy; 2025 Какой то Сервис. Все права защищены.</p>
            <div class="social-links">
                <a href="https://facebook.com" target="_blank">Facebook</a>
                <a href="https://twitter.com" target="_blank">Twitter</a>
                <a href="https://instagram.com" target="_blank">Instagram</a>
            </div>
        </div>
    </footer>

</body>
</html>